# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
deleteNoise
granulometry
helloworld
genHistogram
retrieval
indexing

# Removed files
*~

# Build repository
/build/*

# CMake

CMakeCache.txt
CMakeFiles/*
cmake_install.cmake

# LaTeX

*.aux
*.log
*.ps
*.dvi
*.swp
*.bbl
*.blg
report.pdf
project.pdf
report-autopp.pdf
Makefile
